.reset_all_styles {
  all: initial;
}
.ce-paragraph {
  line-height: 1.6em;
  outline: none;
}

.ce-paragraph[data-placeholder]:empty::before{
content: attr(data-placeholder);
color: #707684;
font-weight: normal;
opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty:focus::before {
opacity: 0;
}

.ce-paragraph p:first-of-type{
  margin-top: 0;
}

.ce-paragraph p:last-of-type{
  margin-bottom: 0;
}

/**/
.cdx-notify--error{background:#fffbfb!important}.cdx-notify--error::before{background:#fb5d5d!important}.cdx-notify__input{max-width:130px;padding:5px 10px;background:#f7f7f7;border:0;border-radius:3px;font-size:13px;color:#656b7c;outline:0}.cdx-notify__input:-ms-input-placeholder{color:#656b7c}.cdx-notify__input::placeholder{color:#656b7c}.cdx-notify__input:focus:-ms-input-placeholder{color:rgba(101,107,124,.3)}.cdx-notify__input:focus::placeholder{color:rgba(101,107,124,.3)}.cdx-notify__button{border:none;border-radius:3px;font-size:13px;padding:5px 10px;cursor:pointer}.cdx-notify__button:last-child{margin-left:10px}.cdx-notify__button--cancel{background:#f2f5f7;box-shadow:0 2px 1px 0 rgba(16,19,29,0);color:#656b7c}.cdx-notify__button--cancel:hover{background:#eee}.cdx-notify__button--confirm{background:#34c992;box-shadow:0 1px 1px 0 rgba(18,49,35,.05);color:#fff}.cdx-notify__button--confirm:hover{background:#33b082}.cdx-notify__btns-wrapper{display:-ms-flexbox;display:flex;-ms-flex-flow:row nowrap;flex-flow:row nowrap;margin-top:5px}.cdx-notify__cross{position:absolute;top:5px;right:5px;width:10px;height:10px;padding:5px;opacity:.54;cursor:pointer}.cdx-notify__cross::after,.cdx-notify__cross::before{content:'';position:absolute;left:9px;top:5px;height:12px;width:2px;background:#575d67}.cdx-notify__cross::before{transform:rotate(-45deg)}.cdx-notify__cross::after{transform:rotate(45deg)}.cdx-notify__cross:hover{opacity:1}.cdx-notifies{position:fixed;z-index:2;bottom:20px;left:20px;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif}.cdx-notify{position:relative;width:220px;margin-top:15px;padding:13px 16px;background:#fff;box-shadow:0 11px 17px 0 rgba(23,32,61,.13);border-radius:5px;font-size:14px;line-height:1.4em;word-wrap:break-word}.cdx-notify::before{content:'';position:absolute;display:block;top:0;left:0;width:3px;height:calc(100% - 6px);margin:3px;border-radius:5px;background:0 0}@keyframes bounceIn{0%{opacity:0;transform:scale(.3)}50%{opacity:1;transform:scale(1.05)}70%{transform:scale(.9)}100%{transform:scale(1)}}.cdx-notify--bounce-in{animation-name:bounceIn;animation-duration:.6s;animation-iteration-count:1}.cdx-notify--success{background:#fafffe!important}.cdx-notify--success::before{background:#41ffb1!important}

/**/
.cdx-simple-image {}

.cdx-simple-image .cdx-loader {
  min-height: 200px;
}

.cdx-simple-image .cdx-input {
  margin-top: 10px;
}

.cdx-simple-image img {
  max-width: 100%;
  vertical-align: bottom;
}

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
 }

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-simple-image__picture--with-background {
  background: #eff2f5;
  padding: 10px;
}

.cdx-simple-image__picture--with-background img {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}

.cdx-simple-image__picture--with-border {
  border: 1px solid #e8e8eb;
  padding: 1px;
}

.cdx-simple-image__picture--stretched img {
  max-width: none;
  width: 100%;
}

/**/

.cdx-simple-image {}

.cdx-simple-image .cdx-loader {
  min-height: 200px;
}

.cdx-simple-image .cdx-input {
  margin-top: 10px;
}

.cdx-simple-image img {
  max-width: 100%;
  vertical-align: bottom;
}

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
 }

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-simple-image__picture--with-background {
  background: #eff2f5;
  padding: 10px;
}

.cdx-simple-image__picture--with-background img {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}

.cdx-simple-image__picture--with-border {
  border: 1px solid #e8e8eb;
  padding: 1px;
}

.cdx-simple-image__picture--stretched img {
  max-width: none;
  width: 100%;
}

/**/
.ce-delimiter {
  line-height: 1.6em;
  width: 100%;
  text-align: center;
}

.ce-delimiter:before {
  display: inline-block;
  content: "***";
  font-size: 30px;
  line-height: 65px;
  height: 30px;
  letter-spacing: 0.2em;
}

/**/
.cdx-checklist {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

  .cdx-checklist__item {
      display: flex;
      box-sizing: content-box;
      align-items: flex-start;
  }

  .cdx-checklist__item-text {
          outline: none;
          flex-grow: 1;
          line-height: 1.57em;
      }

  .cdx-checklist__item-checkbox {
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          margin-right: 8px;
          margin-top: calc(1.57em/2 - 22px/2);
          cursor: pointer;
      }

  .cdx-checklist__item-checkbox svg {
              opacity: 0;
              height: 20px;
              width: 20px;
              position: absolute;
              left: -1px;
              top: -1px;
              max-height: 20px;
          }

  @media (hover: hover) {
                      .cdx-checklist__item-checkbox:not(.cdx-checklist__item-checkbox--no-hover):hover .cdx-checklist__item-checkbox-check svg {
                          opacity: 1;
                      }
          }

  .cdx-checklist__item-checkbox-check {
              cursor: pointer;
              display: inline-block;
              flex-shrink: 0;
              position: relative;
              width: 20px;
              height: 20px;
              box-sizing: border-box;
              margin-left: 0;
              border-radius: 5px;
              border: 1px solid #C9C9C9;
              background: #fff;
          }

  .cdx-checklist__item-checkbox-check::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  border-radius: 100%;
                  background-color: #369FFF;
                  visibility: hidden;
                  pointer-events: none;
                  transform: scale(1);
                  transition: transform 400ms ease-out, opacity 400ms;
              }

  @media (hover: hover) {
                      .cdx-checklist__item--checked .cdx-checklist__item-checkbox:not(.cdx-checklist__item--checked .cdx-checklist__item-checkbox--no-hover):hover .cdx-checklist__item-checkbox-check {
                          background: #0059AB;
                          border-color: #0059AB;
                      }
              }

  .cdx-checklist__item--checked .cdx-checklist__item-checkbox-check {
                  background: #369FFF;
                  border-color: #369FFF;
              }

  .cdx-checklist__item--checked .cdx-checklist__item-checkbox-check svg {
                      opacity: 1;
                  }

  .cdx-checklist__item--checked .cdx-checklist__item-checkbox-check svg path {
                          stroke: #fff;
                      }

  .cdx-checklist__item--checked .cdx-checklist__item-checkbox-check::before {
                      opacity: 0;
                      visibility: visible;
                      transform: scale(2.5);
                  }

/***/
.cdx-marker {
  background: rgba(245,235,111,0.29);
  padding: 3px 0;
}

/**/
.cdx-quote-icon svg {
  transform: rotate(180deg);
}

.cdx-quote {
  margin: 0;
}

.cdx-quote__text {
  min-height: 158px;
  margin-bottom: 10px;
}

.cdx-quote__caption {}

.cdx-quote [contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-quote-settings {
  display: flex;
}

.cdx-quote-settings .cdx-settings-button {
  width: 50%;
}
/**/

/**
 * Plugin styles
 */
 .ce-header {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 1.25em;
  outline: none;
}

.ce-header p,
.ce-header div{
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
  cursor: text;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  display: none;
}

/**/
.ce-rawtool__textarea {
  min-height: 200px;
  resize: vertical;
  border-radius: 8px;
  border: 0;
  background-color: #1e2128;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #a1a7b6;
  overscroll-behavior: contain;
}

/**/
.image-tool {
  --bg-color: #cdd1e0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;

}

  .image-tool__image {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .image-tool__image-picture {
      max-width: 100%;
      vertical-align: bottom;
      display: block;
    }

  .image-tool__image-preloader {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      margin: auto;
      position: relative;
      background-color: var(--bg-color);
      background-position: center center;
    }

  .image-tool__image-preloader::after {
        content: "";
        position: absolute;
        z-index: 3;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--bg-color);
        border-top-color: var(--front-color);
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: -30px;
        animation: image-preloader-spin 2s infinite linear;
        box-sizing: border-box;
      }

  .image-tool__caption[contentEditable="true"][data-placeholder]::before {
      position: absolute !important;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      display: none;
    }

  .image-tool__caption[contentEditable="true"][data-placeholder]:empty::before {
        display: block;
      }

  .image-tool__caption[contentEditable="true"][data-placeholder]:empty:focus::before {
        display: none;
      }

  .image-tool--empty .image-tool__image {
      display: none;
    }

  .image-tool--empty .image-tool__caption, .image-tool--loading .image-tool__caption {
      display: none;
    }

  .image-tool .cdx-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-tool .cdx-button svg {
      height: auto;
      margin: 0 6px 0 0;
    }

  .image-tool--filled .cdx-button {
      display: none;
    }

  .image-tool--filled .image-tool__image-preloader {
        display: none;
      }

  .image-tool--loading .image-tool__image {
      min-height: 200px;
      display: flex;
      border: 1px solid var(--border-color);
      background-color: #fff;
    }

  .image-tool--loading .image-tool__image-picture {
        display: none;
      }

  .image-tool--loading .cdx-button {
      display: none;
    }

  /**
   * Tunes
   * ----------------
   */

  .image-tool--withBorder .image-tool__image {
      border: 1px solid var(--border-color);
    }

  .image-tool--withBackground .image-tool__image {
      padding: 15px;
      background: var(--bg-color);
    }

  .image-tool--withBackground .image-tool__image-picture {
        max-width: 60%;
        margin: 0 auto;
      }

  .image-tool--stretched .image-tool__image-picture {
        width: 100%;
      }

@keyframes image-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**/
.link-tool {
  position: relative;
}

  .link-tool__input {
    padding-left: 38px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23707684' stroke-linecap='round' stroke-width='2' d='m7.7 12.6-.021.02a2.795 2.795 0 0 0-.044 4.005v0a2.795 2.795 0 0 0 3.936.006l1.455-1.438a3 3 0 0 0 .34-3.866l-.146-.207'/%3E%3Cpath stroke='%23707684' stroke-linecap='round' stroke-width='2' d='m16.22 11.12.136-.14c.933-.954.992-2.46.135-3.483v0a2.597 2.597 0 0 0-3.664-.32L11.39 8.386a3 3 0 0 0-.301 4.3l.031.034'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .link-tool__input-holder {
      position: relative;
    }

  .link-tool__input-holder--error .link-tool__input {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='rgb(224, 147, 147)' stroke-linecap='round' stroke-width='2' d='m7.7 12.6-.021.02a2.795 2.795 0 0 0-.044 4.005v0a2.795 2.795 0 0 0 3.936.006l1.455-1.438a3 3 0 0 0 .34-3.866l-.146-.207'/%3E%3Cpath stroke='rgb(224, 147, 147)' stroke-linecap='round' stroke-width='2' d='m16.22 11.12.136-.14c.933-.954.992-2.46.135-3.483v0a2.597 2.597 0 0 0-3.664-.32L11.39 8.386a3 3 0 0 0-.301 4.3l.031.034'/%3E%3C/svg%3E");
          background-color: #fff3f6;
          border-color: #f3e0e0;
          color: #a95a5a;
          box-shadow: inset 0 1px 3px 0 rgba(146, 62, 62, .05);
        }

  .link-tool__input[contentEditable=true][data-placeholder]::before{
      position: absolute;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      opacity: 0;
    }

  .link-tool__input[contentEditable=true][data-placeholder]:empty::before {
        opacity: 1;
      }

  .link-tool__input[contentEditable=true][data-placeholder]:empty:focus::before {
         opacity: 0;
       }

  .link-tool__progress {
    position: absolute;
    box-shadow: inset 0 1px 3px 0 rgba(102, 85, 107, 0.04);
    height: 100%;
    width: 0;
    background-color: #f4f5f7;
    z-index: -1;
  }

  .link-tool__progress--loading {
      -webkit-animation: progress 500ms ease-in;
      -webkit-animation-fill-mode: forwards;
    }

  .link-tool__progress--loaded {
      width: 100%;
    }

  .link-tool__content {
    display: block;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #fff;
    color: initial !important;
    text-decoration: none !important;
  }

  .link-tool__content::after {
      content: "";
      clear: both;
      display: table;
    }

  .link-tool__content--rendered {
      background: #fff;
      border: 1px solid rgba(201, 201, 204, 0.48);
      box-shadow: 0 1px 3px rgba(0,0,0, .1);
      border-radius: 6px;
      will-change: filter;
      animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    }

  .link-tool__content--rendered:hover {
        box-shadow: 0 0 3px rgba(0,0,0, .16);
      }

  .link-tool__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 30px;
    width: 65px;
    height: 65px;
    border-radius: 3px;
    float: right;
  }

  .link-tool__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0 0 10px 0;
  }

  .link-tool__title + .link-tool__anchor {
      margin-top: 25px;
    }

  .link-tool__description {
    margin: 0 0 20px 0;
    font-size: 15px;
    line-height: 1.55em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .link-tool__anchor {
    display: block;
    font-size: 15px;
    line-height: 1em;
    color: #888 !important;
    border: 0 !important;
    padding: 0 !important;
  }

@keyframes link-in {
  from {
    filter: blur(5px);
  }

  to {
    filter: none;
  }
}

.codex-editor--narrow .link-tool__image {
  display: none;
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

/**/
.ce-code__textarea {
  min-height: 200px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  color: #41314e;
  line-height: 1.6em;
  font-size: 12px;
  background: #f8f7fa;
  border: 1px solid #f1f1f4;
  box-shadow: none;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  resize: vertical;
}

/**/
.cdx-warning {
  position: relative;

}

@media all and (min-width: 736px) {
  .cdx-warning {
    padding-left: 36px;
  }
}

.cdx-warning [contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-warning [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-warning [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-warning::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='14' height='14' rx='4' stroke='black' stroke-width='2'/%3E%3Cline x1='12' y1='9' x2='12' y2='12' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12 15.02V15.01' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  position: absolute;
  margin-top: 8px;
  left: 0;
}

@media all and (max-width: 735px) {
  .cdx-warning::before {
    display: none;
  }
}

.cdx-warning__message {
  min-height: 85px;
}

.cdx-warning__title {
  margin-bottom: 6px;
}

/**/
.cdx-list {
  margin: 0;
  padding-left: 40px;
  outline: none;
}

  .cdx-list__item {
      padding: 5.5px 0 5.5px 3px;
      line-height: 1.6em;
  }

  .cdx-list--unordered {
      list-style: disc;
  }

  .cdx-list--ordered {
      list-style: decimal;
  }

  .cdx-list-settings {
      display: flex;
  }

  .cdx-list-settings .cdx-settings-button {
          width: 50%;
      }

/**/

